* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    max-width: 447px;
}

.search-div {
    display: flex;
    justify-content: center;
}
.city-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 50px);
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 50%;
    background-color: #fffafa;
    cursor: pointer;  
}

.search-button img {
    width: 25px;
}

.error {
    display: none;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

.climate-characteristics {
    margin-top: 15px;
}

.title {
    color: white;
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-weight: 400;
    font-size: 30px;
}

.city {
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.temperature {
    color: white;
    font-size: 20px;
    text-align: center;
}

.weather-condition {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.text-forecast {
    color: white;
    margin-left: 10px;
    font-size: 17px;
    text-transform: capitalize;
}

.max {
    color: white;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 17px;
}

.min {
    color: white;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 17px;
}

.humidity {
    color: white;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 17px;
}